# Ignore all tex and log files
*.log
*.Rhistory
*.aux

Exercices-analyse-statistique.tex
base.tex
ajustement.tex
echantillonnage.tex
estimation.tex
intervalle.tex
tests.tex

# knitr and R markdown default cache directories
figure/
solutions-*
reponses-*